body {
  background-color: grey; /* Set your desired grey color here */
  margin: 0; /* Reset default body margin */
  padding: 0; /* Reset default body padding */
}

.save-game-button{
    margin-right: 156px;
    margin-bottom: -10px;
    color:lightgreen;
    position: relative;
  transition: transform 0.3s, box-shadow 0.3s;
  }
  .save-game-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }


  /* SCROLLBAR */
  /* Customize scrollbar track */
/* Track color */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Thumb color */
::-webkit-scrollbar-thumb {
    background: #333; /* Darker color for the thumb */
    border-radius: 10px;
    width: 1px; /* Adjust the width for a thinner scrollbar */
}

/* Button color */
::-webkit-scrollbar-button {
    background: #ccc;
}

/* Thumb color on hover */
::-webkit-scrollbar-thumb:hover {
    background: #111; /* Darker color for thumb on hover */
}

  

  /* style antd elements */
  /* Customize the border color for Ant Design components */

/* Example for Select */
.ant-select-selector {
    border-color: #1890ff; /* Bright blue border color */
  }
  
  /* Example for Button */
  .ant-btn {
    border-color: #1890ff; /* Bright blue border color */
  }
  
  /* Example for Checkbox */
  .ant-checkbox-wrapper {
    border-color: #1890ff; /* Bright blue border color */
  }

  /* Customize the border color of the radio buttons */
.ant-radio-wrapper {
    border-color: #1890ff; /* Bright blue border color */
  }
/* CSS to increase the brightness of the placeholder text */
/* Increase the brightness of the placeholder text */
.ant-select-selector .ant-select-selection-placeholder {
    color: rgba(128, 128, 128)
    ; /* Light white color with transparency */
  }
  
   /* Change the border color of the checkbox circle */
   .ant-checkbox-checked .ant-checkbox-inner {
    background-color:  green !important;;
    border-color:  green !important;;
  }


  /* Hide the scrollbar for the category-filter element */
.category-filter::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
  }


  /* BOLDEN ALL TEXT */
  /* Apply bold font-weight to all text inside paragraphs */
p {
    font-weight: bold;
  }
  
  /* Apply bold font-weight to all text inside headings */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  
  /* Apply bold font-weight to all text inside span elements */
  span {
    font-weight: bold;
  }
  
  /* Apply bold font-weight to all text inside div elements */
  div {
    font-weight: bold;
  }
  
  /* Apply bold font-weight to all text inside other specific elements as needed */

  
  .rotating-border {
    width: fit-content;
    position: relative;
    border: 2px solid;
    border-radius: 40px !important;
    border-image: linear-gradient(90deg, #ffa500, #0f9d58);
    border-image-slice: 1;
    animation: rotateBorderColor 5s linear infinite;
    padding: 10px;
  }
  
  @keyframes rotateBorderColor {
    0% {
      border-image-source: linear-gradient(90deg, #ffa500, #0f9d58);
    }
    25% {
      border-image-source: linear-gradient(90deg, #0f9d58, #ffa500);
    }
    50% {
      border-image-source: linear-gradient(90deg, #ffa500, #0f9d58);
    }
    75% {
      border-image-source: linear-gradient(90deg, #0f9d58, #ffa500);
    }
    100% {
      border-image-source: linear-gradient(90deg, #ffa500, #0f9d58);
    }
  }
  

  .participant-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Adjust the gap between elements as needed */
  }
  
/* CSS for changing the placeholder color to light grey */
/* Target Input placeholder */
.custom-input input::placeholder {
    color: lightgrey !important;
  }
  
  /* Target TextArea placeholder */
  .custom-textarea textarea::placeholder {
    color: lightgrey !important;
  }
  
  /* SORT BY BUTTON */

  /* CSS */
  .button-70 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-11:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
  }